footer {
	@include extended-width;
	background: $black;
	color: $lightGray;
	text-align: center;
	
	.logo {
		max-width: 75%;
		margin-top: 1em;
		margin-bottom: 1em;
		display: inline-block
	}
	
@include screen-sm-and-up{
	text-align: left;
}
}