header {
	
	a {
		text-decoration: none;
	&:hover {
		text-decoration: none
	}
	
	&.phone{
		font-weight: bold;
	}
	
	}
	
	.logo {
		text-align: center;
	
	@include screen-sm-and-up {
		text-align: left;
	}
	}
	
	.contact {
		text-align: center;
	
	@include screen-sm-and-up {
		text-align: right;
		
	}
	}
}