nav {
	@include extended-width();
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background: $darkGray;
	font-size: 1.125em;
	
	a {
		text-decoration: none;
	}
	
}

.navbar-default {
	
	.navbar-toggle {
		background-color: $white;
	
	&.collapsed{
		background-color: $lightGray;
	}
	&:hover{
		
	}
	}
	
	.navbar-collapse {
		
	@include screen-sm-and-up{
		padding-left: 0;
		padding-right: 0;
	}
	}
}