nav {
	@include extended-width();
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background: $darkGray;
}

.nav-pills {
	
	> li {
		
		+ li {
			margin-left: 0;
		}
		
		> a {
			color: white;
			border-radius: 0;
		}
	
	&.active {
		> a {
			background-color: $red;
		}
	}
	&:hover {
		> a {
			background-color: $blue;
		}
	}
	}
}