html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.container-fluid {
	background-color: white;
	
	@include screen-lg{
		padding-left: 5em;
		padding-right: 5em;
	}
	@include screen-md{
		padding-left: 2em;
		padding-right: 2em;
	}
}

.row {
	margin: 1em auto 2em;
}