
h2 {
	color: $blue;

.secondary &{
	color: $black;
}

}


p {
	
	
&.warning{
	background-color: $red;
	color: $white;
	padding: .25em;
	margin-top: 2px;
}
}

img {
			
&.responsive{
	max-width: 100%;
	height: auto;
}
}

.benefits {
	
	ul {
		padding-left: 1em;
		font-size: 1.3125em; //21px;
	}
}

.jumbotron {
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
	padding-top: 20%;
	min-height: 200px;
	text-align: right;
	overflow: hidden;
	
	h1 {
		color: #FFF;
		font-size: 50px;
		margin: 0 0 8px;
		text-shadow: 2px 2px 6px #333;
	}
	
	.offer {
		background-color: rgba(0,0,0, .65);
		float: right;
		color: #FFF !important;
		padding: .75em;
		text-align: left;
		
		h2 {
			text-transform: uppercase;
			margin: 0 0 5px;
			font-style: italic;
			color: #FFF;
			
			small {
				color: #FFF;
				font-style: normal;
				text-transform: none;
				
			}
		
		}
	}
	
	
@include screen-sm-and-up{
	min-height: 325px;
	margin-bottom: 0;
}
}

table {

.secondary &{
	
	caption {
		font-style: italic;
		padding-bottom: 0;
		color: $black;
	}
}

.price {
	color: $blue;
	font-size: 1.5em;
	
	small {
		font-size: 14px;
	}
}	
}

a {
	text-decoration: underline;
}

.btn{
	text-decoration: none;

&.btn-default{

&:hover{
	color: $white;
}
}

&.btn-info{
&:hover,
&:focus {
	background-color: $darkGray;
	border-color: $darkGray; 
	color: $white;
}
}

.dropdown.open &{
	
	&:hover,
	&:focus {
		background-color: $darkGray;
		border-color: $darkGray; 
		color: $white;
	}
}

}



.phone {
	font-size: 1.75em;
	
	@include screen-md-and-up {
		font-size: 2.5em;
	}
}

dt {
	color: $blue;
	margin-top: 1em;
}
dd {
	margin-bottom: 1em;
}

.row {
	
.home & {
	
	&.primary{
		border: 3px solid $black;
		border-radius: 8px;
		padding: 1em;
	}
	
	&.secondary{
		margin-bottom: 3em;
		
		.sitemap {
			
		}
		
	@include screen-sm-and-up{
		
		.sitemap {
			max-width: 215px;
			display: inline-block;
		}
		
		.panel {
			min-height: 250px;
		}
	}	
	}
}	
.interior & {
	
	&.primary{
		padding-left: 0;	
	}
	
	&.page-header {
		border-bottom: 3px solid $black;
	}
}

&.page-header {
		
	h1{
		margin-top: 0;
	}
	
	.sharing-controls {
		text-align: right;
	}

	
@include screen-sm-and-up{
	
	.sharing-controls {
		text-align: right;
	}
}	
	
}

}


.input-group {
	font-size: 14px !important;
}