<div id="homeCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container-fluid">
					Item 1
				</div>
			</div>
			<div class="item">
				<div class="container-fluid">
					Item 2
				</div>
			</div>
	</div>
</div>
<a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>