section {
	margin-bottom: 2em;

	&.benefits {
		
		ul {
			padding-left: 0;
		}	
	}

	.secondary & {
		
		p {
			
		@include screen-md-and-up{
			min-height: 80px;
		}
		}
		
	
	.home & {
		border: 2px solid $darkGray;
		border-radius: 4px;
		background-color: $lightGray;
	
	&.col-sm-4 { 
	
	@include screen-sm-and-up { width: calc(33.33333% - 30px);}
	}//.home .secondary section.col-md-4
	
	@include screen-sm-and-up {
		min-height: 250px;
		margin-right: 30px;
	
	&:last-child {
		margin-right: 0;
		width: 33.33333%;
	}
	}//.home .secondary section @screen-md-and-up
	}//.home .secondary section
	}//.secondary section

	footer & {
		text-align: center;
	@include screen-sm-and-up {
		text-align: left;
	}
	}


@include screen-sm-and-up { margin-bottom: 1em;}
// section @screen-md-and-up
}
